<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Cấp quyền truy cập Internet và vị trí -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- API Key của Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD88lQgGXHV5qERgU5cj0Q_F5j01i1dy6s"/>

        <!-- MainActivity (Màn hình splash) -->
        <activity android:name=".ChoiceLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ChoiceLoginActivity: Màn hình lựa chọn đăng nhập -->
        <activity android:name=".MainActivity"
            android:exported="false"/>

        <!-- LoginActivity: Xử lý đăng nhập -->
        <activity android:name=".LoginActivity"
            android:exported="false"/>

        <!-- CheckProfileActivity: Kiểm tra hồ sơ sau khi đăng nhập -->
        <activity android:name=".CheckProfileActivity"
            android:exported="false"/>

        <!-- ProfileActivity: Nếu chưa có hồ sơ thì vào đây -->
        <activity android:name=".ProfileActivity"
            android:exported="false"/>

        <!-- HomeActivity: Nếu đã có hồ sơ thì vào đây -->
        <activity android:name=".HomeActivity"
            android:exported="false"/>

        <activity android:name=".profile.ViewProfileActivity" android:exported="false"/>


        <!-- MapsActivity: Màn hình bản đồ -->
        <activity android:name=".MapsActivity"
            android:exported="false"/>

        <!-- SignupActivity: Đăng ký tài khoản -->
        <activity android:name=".SignupActivity"
            android:exported="false"/>

        <!-- LoginOtpActivity: Xác thực OTP -->
        <activity android:name=".LoginOtpActivity"
            android:exported="false"/>

        <!-- ForgotPassActivity: Quên mật khẩu -->
        <activity android:name=".ForgotPassActivity"
            android:exported="false"/>
    </application>

</manifest>
