<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!-- Cấp quyền truy cập Internet và vị trí -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules                                                                                            "
        android:icon="@mipmap/ic_launcher"
        android:label="Cofi Spot"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Activites.AdminActivity"
            android:exported="false" />
        <!-- API Key của Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD88lQgGXHV5qERgU5cj0Q_F5j01i1dy6s" /> <!-- MainActivity (Màn hình splash) -->
        <activity
            android:name=".Activites.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ChoiceLoginActivity: Màn hình lựa chọn đăng nhập -->
        <activity
            android:name=".Activites.MainActivity"
            android:exported="false" /> <!-- LoginActivity: Xử lý đăng nhập -->
        <activity
            android:name=".Activites.CheckProfileActivity"
            android:exported="false" /> <!-- ProfileActivity: Nếu chưa có hồ sơ thì vào đây -->
        <activity
            android:name=".Activites.ProfileActivity"
            android:exported="false" /> <!-- HomeActivity: Nếu đã có hồ sơ thì vào đây -->
        <activity
            android:name=".Activites.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.CheckProfileActivity$ViewProfileActivity"
            android:exported="false" /> <!-- MapsActivity: Màn hình bản đồ -->
        <activity
            android:name=".Activites.SignupActivity"
            android:exported="false" /> <!-- LoginOtpActivity: Xác thực OTP -->
        <activity
            android:name=".Activites.ForgotPassActivity"
            android:exported="false" />
    </application>

</manifest>