<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Cấp quyền truy cập Internet và vị trí -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Khai báo API Key của Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD88lQgGXHV5qERgU5cj0Q_F5j01i1dy6s"/>

        <!-- LoginActivity là màn hình khởi động chính -->
        <activity android:name="com.example.myapplication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- HomeActivity (Màn hình sau khi đăng nhập) -->
        <activity android:name="com.example.myapplication.HomeActivity"
            android:exported="true"/>

        <!-- Các màn hình khác -->
        <activity android:name="com.example.myapplication.SignupActivity"
            android:exported="false"/>
        <activity android:name="com.example.myapplication.LoginOtpActivity"
            android:exported="false"/>
        <activity android:name="com.example.myapplication.ForgotPassActivity"
            android:exported="false"/>

        <!-- MainActivity (Map) nhưng không phải là launcher -->
        <activity android:name="com.example.myapplication.MainActivity"
            android:exported="true"/>

        <!-- ChoiceLoginActivity để chọn phương thức đăng nhập -->
        <activity android:name="com.example.myapplication.ChoiceLoginActivity"
            android:exported="true"/>

    </application>
</manifest>
